{% extends 'layout.html' %}
{% block style %}
    <style media="screen">

    .top .right-nav-height .ad .ad-word1{
	    width: 100%;
	    padding-left: 100px;
		text-indent: 0;
        margin-left: 0;
	}
    .top .right-nav span:first-child{
	  width: 4.578754%;
	}
	.top .right-nav span:nth-child(4n+2){
	  width: 11.17216%;
	}
    .top .right-nav span:nth-child(4n+3){
	  width: 57.6923%;
	}
	.top .right-nav span:last-child{
	  width: 26.17216%;
	}
    .right-nav-height .ad{
        width:58.60465%;
  	  display: inline-block;
  	  vertical-align: middle;
  	  box-sizing: border-box;
    }
    .right-nav-height .cashback{
        display: inline-block;
        width: 21.17216%;
        height: 118px;

        line-height: 30px;
        vertical-align: top;
        font-size: 14px;
        color: #000;
        overflow: hidden;
        padding-left: 53px;
        padding-top: 30px;
        box-sizing: border-box;
    }
    .right-nav-height .cashback input{
        margin-left: 10px;
        vertical-align: sub;
    }
    .right-nav-height .cashback span{
        display: inline-block;
    }
    .right-nav-height .cashback span:last-child{
        margin-left: 20px;
    }
    .right-nav-height .operation p:first-child{
      background: #ffa726;
      border-radius: 4px;

    }
    .right-nav-height .operation p:last-child{
      background: #ab47bc;
      border-radius: 4px;
      margin-top: 15px;
    }
    .cashback .is_valid{
        padding: 2px;
        border: none;
        background: #55ACD7;

        color: #fff;
        cursor: pointer;
        border-radius: 2px;
    }
    .cashback .is_valid2{
        padding: 2px;
        border: none;
        background: #D0D6D9;
        color: #9EA6AA;
        cursor: pointer;
        border-radius: 2px;
    }
    </style>
{% endblock %}

{% block content %}
<div class="right-nav">
  <span>&nbsp;</span><span>图片</span><span class="word-information">文字信息</span><span>推荐人信息</span>
</div>
<div class="warp">
{% if rows.length ==0 %}
	<img class="images" src="images/img-12.png" alt="">
{% else %}
	{% for project_info in rows %}
	  <div class="right-nav-height">
		<span class="checkbox"></span>
		<span class="adimg"><img src="{{image_host}}{{project_info.project.main_image_url}}" alt=""></span>
		<span class="ad">
		  <p class="ad-word1"><img src="{{project_info.wx_user.headimgurl}}" width="20px" alt=""/> {{project_info.wx_user.name}}&nbsp; {{project_info.wx_user.nickname}} &nbsp; {{project_info.wx_user.mobile}} </p>
		  <p class="ad-word1">{{project_info.project.name}}&nbsp;{{project_info.project.address}} </p>
		  <p class="ad-word1">预约时间：&nbsp;{{project_info.subscribe_time_text}}</p>
		  <div class="ad-word2"><span class="money">{{project_info.project.price_text}}</span><p class="rebate"><span class="rebate1">预约返利{{project_info.project.fanli_text}}</span><span class="rebate1">推荐返利{{project_info.project.tuijian_fanli_text}}</span></p></div>
		</span>
        <p class="cashback">
            {% if project_info.recommender_wx_user %}
            <span>{{project_info.recommender_wx_user.name}}</span><br/>
            <span>{{project_info.recommender_wx_user.mobile}}</span><br/>
            {% if project_info.recommender_valid == -1 %}
            状态:
            <input type="button" name="" value="有效" class="is_valid" data-id="{{project_info.id}}">
            <input type="button" name="" value="无效" class="is_valid2" data-id="{{project_info.id}}">
            {% elseif project_info.recommender_valid == 1 %}
                <span>推荐有效</span>
            {% else %}
                <span>推荐无效</span>
            {% endif %}
            {% endif %}
		</p>
	  </div>
	{% endfor %}
{% endif %}
</div>
{% endblock %}
{% block script %}
<script>
	$(function() {
		$(".list-infor2").addClass("hover");

        $(".is_valid").click(function(){
			var success = confirm("确认该操作？");
			if (!success) {
				return;
			}
			var is_valid = 1;
			var id = $(this).data("id");
			change_recommender_valid(is_valid,id);
		});
		$(".is_valid2").click(function(){
			var success = confirm("确认该操作？");
			if (!success) {
				return;
			}
			var is_valid = 0;
			var id = $(this).data("id");
			change_recommender_valid(is_valid,id);
		});
		var change_recommender_valid = function(is_valid,id){
			$.post("/change_recommender_valid",{id:id,is_valid:is_valid},function(data){
				location.href = "/customer_order";
			})
		};
	});
</script>
{% endblock %}
