{% extends 'layout.html' %}

{% block style %}
	<style media="screen">
	body{
		position: relative;
	}
	p{
		padding: 0;
		margin:0;
	}
	.alertWrap{
		width: 360px;
		height: 190px;
		position: absolute;
		top: 200px;
		left: 35.8461%;
		background: #fff;
		border-radius: 4px;
		border: 4px solid #E6E6FA;
		z-index: 999;
		display: none;
	}
	.alertTitle{
		width: 100%;
		height: 50px;
		line-height: 50px;
		text-align: center;
		text-indent: 10px;
		font-size: 14px;
		color: #666;
		font-weight: bold;
		background: #F7F7F7;
		box-shadow: 1px 1px 7px  #E0EEEE;
	}
	.alertInfor{
		width: 100%;
		height: 24px;
		line-height: 24px;
		font-size: 12px;
		color: #565656;
		text-align: center;
		margin-top: 30px;
	}
	.alertSubmit{
		text-align: center;
		margin-top: 36px;
	}
	.alertSubmit span:first-child{
		margin-right: 20px;;
		height: 30px;
		line-height: 30px;
		background: #1B9AF7;
	}
	.alertSubmit span:first-child:hover{
		background-color: #1B9AF7;
		border-color: #1B9AF7;
		opacity: 0.9;
		color: #FFF;
	}
	.alertSubmit span:last-child{
		margin-left: 20px;
		height: 30px;
		line-height: 30px;
	}
	.alertSubmit span:first-child {
		margin-right: 20px;
		height: 30px;
		line-height: 30px;
		background: #1B9AF7;
	}
	.button-action, .button-action-flat {
		border-color: #A5DE37;
		color: #FFF;
	}
	.button {
		font-weight: 300;
		font-size: 16px;
		font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
		text-decoration: none;
		text-align: center;
		padding: 0 40px;
		margin: 0;
		display: inline-block;
		cursor: pointer;
		border: none;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		-webkit-transition-property: all;
		transition-property: all;
		-webkit-transition-duration: .3s;
		transition-duration: .3s;
	}
	.alertSubmit span:first-child:hover {
	  background-color: #1B9AF7;
	  border-color: #1B9AF7;
	  opacity: 0.9;
	  color: #FFF;
	}
	.button-action, .button-action-flat {
	  background-color: #A5DE37;
	  border-color: #A5DE37;
	  color: #FFF;
	}
	.button {
	  font-weight: 300;
	  font-size: 16px;
	  font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	  text-decoration: none;
	  text-align: center;
	  line-height: 40px;
	  height: 40px;
	  padding: 0 40px;
	  margin: 0;
	  display: inline-block;
	  cursor: pointer;
	  border: none;
	  -webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  box-sizing: border-box;
	  -webkit-transition-property: all;
	  transition-property: all;
	 -webkit-transition-duration: .3s;
	 transition-duration: .3s;
	}
	.alertSubmit span:last-child:hover {
	  background-color: #b9e563;
	  border-color: #b9e563;
	  color: #FFF;
	}
	.right-nav{
	  width: 100%;
	  border-bottom: 1px solid #f7f2f7;
	  height: 44px;

	}
	.right-nav span{
	  font-size: 12px;
	  height: 44px;
	  line-height: 44px;
	  display: inline-block;
	  text-align: center;

	}
	.right-nav span:first-child{
	  width: 4.578754%;
	}
	.right-nav span:nth-child(5n+2){
	  width: 11.17216%;
	}
	.right-nav span:nth-child(5n+3){
	  width: 50.91575%;
	}
	.right-nav span:nth-child(5n+4){
	  width:18.315%;
	}
	.right-nav span:last-child{
	  width: 11.17216%;
	}
	.right-nav-height{
	  border-bottom: 1px solid #f7f2f7;
	}
	.right-nav-height .checkbox{
	  width: 4.6511%;
	  text-align: center;
	  display: inline-block;
	}
	.right-nav-height .adimg img{
	  display: inline-block;
	  width:100%;
	  height: 98px;
	  vertical-align: middle;
	}
	.right-nav-height .adimg{
	  width:11.3488372%;
	  height: 98px;
	  display: inline-block;
	}
	.right-nav-height .ad{
	  width:51.72093%;
	  display: inline-block;
	  vertical-align: middle;
	  padding-left: 100px;
	  box-sizing: border-box;
	}

	.right-nav-height .ad .ad-word1 img{
		vertical-align: middle;
	margin-top: -3px;
	}
	.right-nav-height .ad .ad-word2{
	  width:100%;
	  font-size: 12px;
	  display: inline-block;
	  overflow: hidden;
	}
	.right-nav-height .ad .ad-word2 .rebate{
	  display: inline-block;
	  font-size: 12px;
	  margin-left: 100px;
	}
	.right-nav-height .ad .ad-word2 .rebate .rebate1{
	  display: inline-block;
	  width: 78px;
	  border: 1px solid #646464;
	  text-align: center;
	  margin-right: 10px;
	  color: #646464;
	}
	.right-nav-height .operation{
	  display: inline-block;
	  width: 11.3488372%;;
	  height: 118px;
	  vertical-align: middle;
	}
	.right-nav-height .operation p{

	  width: 60px;
	  height: 26px;
	  line-height: 26px;
	  font-size: 14px;
	  margin: 15px auto;
	  text-align: center;
	  cursor: pointer;

	}
	.right-nav-height .cashback{
		display: inline-block;
		width: 18.604%;
		height: 118px;

		line-height: 30px;
		vertical-align: top;
		font-size: 14px;
		color: #000;
		overflow: hidden;
		padding-left: 53px;
		padding-top: 30px;
		box-sizing: border-box;
	}
	.right-nav-height .cashback input{
		margin-left: 10px;
		vertical-align: sub;
	}
	.right-nav-height .cashback span{
		display: inline-block;
	}
	.right-nav-height .cashback span:last-child{
		margin-left: 20px;
	}
	.right-nav-height .operation p:first-child{
	  background: #ffa726;
	  border-radius: 4px;

	}
	.right-nav-height .operation p:last-child{
	  background: #ab47bc;
	  border-radius: 4px;
	  margin-top: 15px;
	}
	.cashback .is_valid{
		padding: 2px;
		border: none;
		background: #55ACD7;

		color: #fff;
		cursor: pointer;
		border-radius: 2px;
	}
	.cashback .is_valid2{
		padding: 2px;
		border: none;
		background: #D0D6D9;
		color: #9EA6AA;
		cursor: pointer;
		border-radius: 2px;
	}
	</style>
{% endblock %}

{% block content %}
<div class="right-nav">
  <span>选择</span><span>图片</span><span>文字信息</span><span>推荐人信息</span><span>操作</span>
</div>
<div class="warp">
{% if rows.length ==0 %}
	<img class="images" src="images/img-12.png" alt="">
{% else %}


	{% for project_info in rows %}
	  <div class="right-nav-height">
		<span class="checkbox"><input type="checkbox" name="" value=""></span>
		<span class="adimg"><img src="{{image_host}}{{project_info.project.main_image_url}}" alt=""></span>
		<div class="ad">
		  <p class="ad-word1"><img src="{{project_info.wx_user.headimgurl}}" width="20px" alt=""/> {{project_info.wx_user.name}}&nbsp; {{project_info.wx_user.nickname}} &nbsp; {{project_info.wx_user.mobile}} </p>
		  <p class="ad-word1">{{project_info.project.name}}&nbsp;{{project_info.project.address}} </p>
		  <p class="ad-word1">预约时间：&nbsp;{{project_info.subscribe_time_text}}</p>
		    <div class="ad-word2"><span class="money">{{project_info.project.price_text}}</span><p class="rebate"><span class="rebate1">预约返利{{project_info.project.fanli_text}}</span><span class="rebate1">推荐返利{{project_info.project.tuijian_fanli_text}}</span></p></div>
		</div>
		<p class="cashback">
			{% if project_info.recommender_wx_user %}
				<span>{{project_info.recommender_wx_user.name}}</span><br/>
				<span>{{project_info.recommender_wx_user.mobile}}</span><br/>
				{% if project_info.recommender_valid == -1 %}
					状态:
					<input type="button" name="" value="有效" class="is_valid" data-id="{{project_info.id}}">
					<input type="button" name="" value="无效" class="is_valid2" data-id="{{project_info.id}}">
				{% elseif project_info.recommender_valid == 1 %}
					<span>推荐有效</span>
				{% else %}
					<span>推荐无效</span>
				{% endif %}
			{% endif %}
		</p>
		<div class="operation"><p data-id="{{project_info.id}}" class="sure">确认</p><p class="operation_no">拒绝</p></div>
	  </div>
	  <div class="alertWrap">
	  	<p class="alertTitle">系统提示</p>
	  	<p class="alertInfor">是否确认拒绝？</p>
	  	<p class="alertSubmit">
	  		 <span class="button button-action alertSubmitNo">取 消</span>
	  		 <span class="button button-action alertSubmitYes">确 认</span>
	  	 </p>
	  </div>
	{% endfor %}
{% endif %}
</div>
<div class="jine_info" style="display:none;">
  <div class="weui_mask"></div>
  <div class="weui_dialog">
	  <div class="get_jine">
		  <input class="jine" type="text" value="" placeholder="请输入消费金额"/>
	  </div>
	  <div>
		  <div class="jine_button" id="jine_cancel">取消</div>
		  <div class="jine_button" id="jine_enter">确定</div>
	  </div>
  </div>
</div>
{% if rows.length >0 %}
<div class="right-bottom">
  <p>
	<span><a href="#">全选</a></span>
	<span>/</span>
	<span><a href="#">取消</a></span>
	<span class="remove"><a href="#">删除</a></span>
  </p>
</div>
{% endif %}
{% endblock %}
{% block script %}
<script>
	$(function() {
		var state = 1;
		$(".fan1").addClass("bottom-ul-style");
		$(".sure").click(function(){
			var project_subscribe_id = $(this).data("id");
			$(".jine_info").removeAttr("style");
			$(".jine").focus();

			$("#jine_enter").click(function(){
				if (state == 0) {
					return;
				}
				state = 0;
				var contract_amount = $(".jine").val();
				if (!contract_amount) {
					alert("请输入消费金额！");
					return;
				}
				if (contract_amount>9999999) {
					alert("请输入消费金额太高！");
					return;
				}
				$.post("/confirm_order",{"contract_amount":contract_amount,"project_subscribe_id":project_subscribe_id},function(data){
					state = 1;
					if (data.success) {
						alert("操作成功！");
						location.href ="/daiqueren";
					}else {
						alert("操作失败！");
					}
				})
			});
			$("#jine_cancel").click(function(){
				$(".jine_info").attr("style","display:none;");
			});
		});
		$(".is_valid").click(function(){
			var success = confirm("确认该操作？");
			if (!success) {
				return;
			}
			var is_valid = 1;
			var id = $(this).data("id");
			change_recommender_valid(is_valid,id);
		});
		$(".is_valid2").click(function(){
			var success = confirm("确认该操作？");
			if (!success) {
				return;
			}
			var is_valid = 0;
			var id = $(this).data("id");
			change_recommender_valid(is_valid,id);
		});
		var change_recommender_valid = function(is_valid,id){
			$.post("/change_recommender_valid",{id:id,is_valid:is_valid},function(data){
				location.href = "/daiqueren";
			})
		};
		$(".operation_no").click(function(){
			$(".alertWrap").show();
			$(".layout_toumingceng").show();
		});
		$(".alertSubmitNo").click(function(){
			$(".alertWrap").hide();
			$(".layout_toumingceng").hide();
		});
		$(".alertSubmitYes").click(function(){
			$(".alertWrap").hide();
			$(".layout_toumingceng").hide();
		});
		$(".layout_toumingceng").click(function(){
			$(".alertWrap").hide();
		})

	});
</script>
{% endblock %}
