{% extends 'layout.html' %}
{% block style %}
	<style media="screen">
	.right-nav-height {
		height: 160px;
		}
		.right-nav-height .shensu{
			font-size:12px;
			color:#000;
			padding: 0 20px;
			box-sizing: border-box;
			line-height: 20px;
			height: 20px;
		}
		.right-nav-height .shensu span{
			display: inline-block;
			margin-left: 10px;
			color: red;
		}
		.right-nav-height .shensu img{
			width: 20px;
			height: 20px;
			vertical-align: middle;

		}
		.right-nav-height .ad .ad-word2 .money{
			width: 50%;
          	-webkit-box-orient: vertical;
	          overflow: hidden;

		}
		.right-nav-height .ad .ad-word2 .rebate{
			width: 36%;
			margin-right: 0;
			vertical-align: top;
		}
	</style>
{% endblock %}
{% block content %}
<div class="right-nav">
  <span>选择</span><span>图片</span><span>文字信息</span><span>操作</span>
</div>
<div class="warp">
{% if rows.length ==0 %}
	<img class="images" src="images/img-12.png" alt="">
{% else %}
	{% for project_info in rows %}
	  <div class="right-nav-height">
		<span class="checkbox"><input type="checkbox" name="" value=""></span>
		<span class="adimg"><img src="{{image_host}}{{project_info.project.main_image_url}}" alt=""></span>
		<span class="ad">
		  <p class="ad-word1"><img src="{{project_info.wx_user.headimgurl}}" width="20px" alt=""/> {{project_info.wx_user.name}}&nbsp; {{project_info.wx_user.nickname}} &nbsp; {{project_info.wx_user.mobile}} </p>
		  <p class="ad-word1">{{project_info.project.name}}&nbsp;{{project_info.project.address}} </p>
		  <p class="ad-word1">预约时间：&nbsp;{{project_info.subscribe_time_text}}&nbsp;{% if project_info.recommender_wx_user %}推荐人:{{project_info.recommender_wx_user.name}}&nbsp; {{project_info.recommender_wx_user.mobile}}{% endif %}</p>
		    <div class="ad-word2">
				<span class="money">返利确认金额：{{project_info.contract_amount_text}}元&nbsp;
					{% for file_name in project_info.file_names %}
						<a target="_blank" href="{{image_host}}{{file_name}}">
							<img src="{{image_host}}{{file_name}}" style="width:20px;height:20px;vertical-align: middle;margin-left:5px;";/>
						</a>
					{% endfor %}
					申诉原因：{{project_info.shensu_reason}}
				</span>
					<p class="rebate">
						<span class="rebate1">预约返利{{project_info.project.fanli_text}}</span>
						<span class="rebate1">推荐返利{{project_info.project.tuijian_fanli_text}}</span>
					</p>
			</div>
		</span>
		<div class="operation"><p data-id="{{project_info.id}}" class="sure">确认</p><p>拒绝</p></div>
			<span>jdsfoisjo</span>
		</p>
	  </div>
	{% endfor %}
{% endif %}
</div>
<div class="jine_info" style="display:none;">
  <div class="weui_mask"></div>
  <div class="weui_dialog">
	  <div class="get_jine">
		  <input class="jine" type="text" value="" placeholder="请输入返利金额"/>
	  </div>
	  <div>
		  <div class="jine_button" id="jine_cancel">取消</div>
		  <div class="jine_button" id="jine_enter">确定</div>
	  </div>
  </div>
</div>
{% if rows.length >0 %}
<div class="right-bottom">
  <p>
	<span><a href="#">全选</a></span>
	<span>/</span>
	<span><a href="#">取消</a></span>
	<span class="remove"><a href="#">删除</a></span>
  </p>
</div>
{% endif %}
{% endblock %}
{% block script %}
<script>
	$(function() {
		var state = 1;
		$(".fan4").addClass("bottom-ul-style");
		$(".sure").click(function(){
			var project_subscribe_id = $(this).data("id");
			$(".jine_info").removeAttr("style");
			$(".jine").focus();

			$("#jine_enter").click(function(){
				if (state == 0) {
					return;
				}
				state = 0;
				var contract_amount = $(".jine").val();
				if (!contract_amount) {
					alert("请输入返利金额！");
					return;
				}
				if (contract_amount>9999999) {
					alert("请输入消费金额太高！");
					return;
				}
				$.post("/confirm_order",{"contract_amount":contract_amount,"project_subscribe_id":project_subscribe_id},function(data){
					state = 1;
					if (data.success) {
						alert("操作成功！");
						location.href ="/shensuzhong";
					}else {
						alert("操作失败！");
					}
				})
			});
			$("#jine_cancel").click(function(){
				$(".jine_info").attr("style","display:none;");
			});
		});
	});
</script>
{% endblock %}
