{% extends 'layout.html' %}
{% block content %}
<div class="right-nav">
  <span>选择</span><span>图片</span><span>文字信息</span><span>操作</span>
</div>
<div class="warp">
{% if rows.length ==0 %}
	<img class="images" src="images/img-12.png" alt="">
{% else %}
	{% for project_info in rows %}
	  <div class="right-nav-height">
		<span class="checkbox"><input type="checkbox" name="" value=""></span>
		<span class="adimg"><img src="http://211.149.248.241:8000/images/youli/{{project_info.project.main_image_url}}" alt=""></span>
		<span class="ad">
		  <p class="ad-word1">{{project_info.wx_user.nickname}} {{project_info.project.name}}</p>
		  <img src="{{project_info.wx_user.headimgurl}}" width="30px" alt=""/>
		  <div class="ad-word2"><span class="money">{{project_info.project.price_text}}</span><p class="rebate"><span class="rebate1">预约返利{{project_info.project.fanli_text}}</span><span class="rebate1">推荐返利{{project_info.project.tuijian_fanli_text}}</span></p></div>
		</span>
		<div class="operation"><p>删除</p><p>编辑</p></div>
	  </div>
	{% endfor %}
{% endif %}
</div>
<div class="right-bottom">
  <p>
	<span><a href="#">全选</a></span>
	<span>/</span>
	<span><a href="#">取消</a></span>
	<span class="remove"><a href="#">删除</a></span>
  </p>
</div>
{% endblock %}
{% block script %}
<script>
	$(function() {
		$(".fan4").addClass("bottom-ul-style");
	});
</script>
{% endblock %}
