{% extends 'layout.html' %}
{% block style %}
	<style media="screen">
		.bianji{
			width: 300px;
			/*display: none;*/
			position: absolute;
			top: 250px;
			left: 500px;
			padding: 0 40px;
		}
		.warp{
			overflow: auto;
		}
		.edit_content{
			width: 440px;
			font-size: 16px;
			padding-left: 20px;
			float: left;
			margin-top: 60px;
			margin-left: 10px;
			background: #C1CDCD;
			padding: 3px;
			color: #5C5C5C;
		}
		.edit_content_infor{
			border-bottom: 1px solid #fff;
		}
		.user2,.use2-infor{
			border: 1px solid #f7f5f7;
			display: inline-block;
			width: 440px;
			box-sizing: border-box;
			border-bottom: none;
		}
		.user2{
			border-bottom: none;
			height: 24px;
			line-height: 24px;
		}
		.user2 div{
			display: inline-block;
			width: 100px;
			text-align: center;
			box-sizing: border-box;
		}
		.use2-infor div{
			display: inline-block;
			width: 100px;
			text-align: center;
			box-sizing: border-box;
			vertical-align: middle;
		}
		.use2-infor .ad-word2 p{
			font-size: 12px;
			color: #fff;
			height: 20px;
			line-height: 20px;
			margin-top: 15px;
		}
		.use2-infor .ad-word2 p:hover{
			background: #000;
			cursor: pointer;
		}
		.ad-word2-p1{
			background: #19A553;

		}
		.ad-word2-p2{
			background: #00A7EB;
		}
		.ad-word2-p3{
			background: #A52A2A;
			margin-bottom: 15px;
		}
		.right-nav-height{
			border-bottom: none;
		}
		.ad-word2-p1-bianji{
			width: 200px;
			height: 100px;
			border-radius: 4px;
			background: #fff;

			position: absolute;
			top: 300px;
			left: 50.3%;
			display: none;
			z-index: 999;
		}
		.ad-word2-p1-bianji p{
			margin: 7px;
			font-size: 12px;
			color: #666;
		}
		.ad-word2-p1-bianji .ad-word2-p1-bianji-p2{
			margin-left: 19px;
		}
		.ad-word2-p1-bianji p input{
			width: 120px;
			height: 20px;
			line-height: 20px;
			border: none;
			border-bottom: 1px solid #666;
			outline: none;
			text-indent: 10px;
		}
		.ad-word2-bianji-button{
			width: 100%;
			text-align: center;
			margin-top: 10px;
		}
		.ad-word2-bianji-button input{
			width: 53px;
			border: none;
			border-radius: 4px;
			height: 20px;

		}
		.ad-word2-bianji-no{
			margin-left: 15px;
			color: #666;
		}
		.ad-word2-bianji-yes{
			background: #FF7100;
			color: #fff;
		}
		.right-nav-height .right-nav-height-ad{
			display: inline-block;
			width: 260px;
			background: #48B0F7;
			border-radius: 4px;
			color: #fff;
			padding: 10px 0;
		}
		.right-nav-height .right-nav-height-ad .ad-word2{
			width: 260px;
			padding-left: 20px;
			margin: 5px 0;
			box-sizing: border-box;
		}
		.right-nav-height .right-nav-height-ad  a{
			color: #5C5C5C;
			font-weight: 600;
		}
		.right-nav-height .right-nav-height-ad  a:hover{
			color: #EE7600;
		}
		.right-nav-height{
			width: 260px;
			float: left;
			margin-top: 60px;
			margin-left: 153px;
			font-size: 14px;
		}
	</style>
{% endblock %}
{% block content %}
	<div class="warp">
		 <div class="right-nav-height">
			<div class="ad right-nav-height-ad">
				<div class="ad-word2">商户编号：{{row.code}}</div>
				<div class="ad-word2">公司名称：{{row.name}}</div>
				<div class="ad-word2">公司简称：{{row.abbreviation}}</div>
				<div class="ad-word2">行业领域：{{row.hangye_name}}</div>
				<div class="ad-word2">保证金：{{row.baozhengjin}}</div>
				<div class="ad-word2">申请日期：{{row.shenqingriqi}}</div>
				<a class="ad-word2" href="/logout">退出登入</a>
			</div>
		</div>

		<div class="edit_content">

		</div>
		<div class="user bianji">
			<p>账户 : <input type="text" name="" value="" class="add_name"></p>
			<p>密码 : <input type="text" name="" value="" class="add_password"></p>
			<p>昵称 : <input type="text" name="" value="" class="add_nickname"></p>
			<p class="user-submit"><input type="submit" name="" value="确 定"  class="user-submit1 user-submit2"></p>
		</div>
	</div>

{% endblock %}
{% block script %}
<script id="edit" type="text/template">
	<div class="user2">
		<div class="">id</div>
		<div class="">用户名</div>
		<div class="ad-word2">昵称</div>
		<div class="ad-word2">操作</div>
	</div>
	<div class="edit_content_infor">
	<% _.forEach(user_list, function(user) {  %>
	   <div class="use2-infor">
		   <div class=""><%- user.id %></div>
		   <div class=""><%- user.username %></div>
		   <div class="ad-word2"><%- user.name %></div>
		   <div class="ad-word2">
			   <p class="ad-word2-p1" data-id="<%- user.id %>">编辑</p>
			   <% if (user.is_system != 1) { %>
			   		<p class="ad-word2-p2 delete" data-id="<%- user.id %>">删除</p>
			   <% } else { %>
				   <p class="ad-word2-p3 create">新建</p>
			   <% } %>
		   </div>
	   </div>
	<% }); %>
   </div>
</script>
<div class="ad-word2-p1-bianji">
	<p class="ad-word2-p1-bianji-p1">昵称:<input type="text" name="" value="" class="name"></p>
	<p class="ad-word2-p1-bianji-p2">密码:<input type="text" name="" value="" class="password"></p>
	<div class="ad-word2-bianji-button">
		<input type="submit" name="" value="取 消" class="ad-word2-bianji-no">
		<input type="submit" name="" value="确 定" class="ad-word2-bianji-yes sure">
	</div>
</div>
<script>
	$(function() {
		$(".list-infor6").addClass("hover");
		//新增
		var add = function(){
			if (!$(".add_name").val()) {
				alert("账号不能为空！");
				return;
			}else if (!$(".add_password").val()) {
				alert("密码不能为空！");
				return;
			}else if (!$(".add_nickname").val()) {
				alert("昵称不能为空！");
				return;
			}
			var data = {
				"tenant_id" : {{row.id}},
				"username" : $(".add_name").val(),
				"password" : $(".add_password").val(),
				"name" : $(".add_nickname").val()
			};

			$.post("/tenant_user_create",{"data":JSON.stringify(data)},function(data){
				if (data.success) {
					location.href = "/tenant";
				}else {
					alert(data.message);
				}
			});
		};
		//修改
		var update = function(tenant_user_id){
			if (!$(".name").val()) {
				alert("昵称不能为空！");
				return;
			}else if (!$(".password").val()) {
				alert("密码不能为空！");
				return;
			}

			var data = {
				"name" : $(".name").val(),
				"password" : $(".password").val(),
				"tenant_id" : {{row.id}},
				"tenant_user_id" : tenant_user_id
			};
			$.post("/tenant_user_update",{"data":JSON.stringify(data)},function(data){
				if (data.success) {
					location.href = "/tenant";
				}else {
					alert(data.message);
				}
			})
		};
		$.get("/tenant_user_list",function(data){
			if (data.success) {
				var user_list = data.rows;
				console.log(user_list);
				var t = _.template($("#edit").html());
				$(".edit_content").html(t({user_list:user_list}));
				//编辑按钮
				$(".ad-word2 .ad-word2-p1").click(function(){
					var tenant_user_id = $(this).data("id");
					$(".ad-word2-p1-bianji").show();
					$(".toumingceng").show();

					//取消
					$(".ad-word2-bianji-no").click(function(){
						$(".ad-word2-p1-bianji").hide();
						$(".toumingceng").hide();
					});

					//确认
					$(".sure").click(function(){
						update(tenant_user_id);
						// $(".ad-word2-p1-bianji").hide();
						// $(".toumingceng").hide();
					});
				});
				//新建
				$(".create").click(function(){
					$(".user.bianji").show();
					$(".user-submit1.user-submit2").click(function(){
						add();
					});
				});
				//删除
				$(".delete").click(function(){
					var data = {
						"tenant_id" : {{row.id}},
						"tenant_user_id" : $(this).data("id")
					};
					$.post("/tenant_user_delete",{"data":JSON.stringify(data)},function(data){
						if (data.success) {
							location.href = "/tenant";
						}else {
							alert(data.message);
						}
					})
				});

				//透明层
				$(".toumingceng").click(function(){
					$(".ad-word2-p1-bianji").hide();
					$(".toumingceng").hide();
				})
			}else {
				alert(data.message);
			}
		})
	});
</script>
{% endblock %}
